
/* generall page css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Big Shoulders Display', sans-serif;
}

/* Main container css starts here */
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.inner-main-container {
    flex: 1;
}

/* first inner-div/ h1 css starts here */
.inner-main-container:nth-child(1) {
    background-color: black;
    position: relative;
    order: 1;
}

.inner-main-container:nth-child(2) {
    order: 2;
}

.inner-main-h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 800;
    font-size: 6vw;
    position: absolute;
    top: 20%;
    left:50%;
    width: 100%;
    z-index: 999;
}

.special-char{
    color: black;
    position: absolute;
    left: 16.5vw;
}

.dif-color{
    color: black;
}

.inner-main-container img {
    height: 100%;
    width: 100%;
}
/* third inner-div/ paragraph css starts here */
.inner-main-container:nth-child(3) {
    position: relative;
    order: 3;
}
.inner-right-main{
    display: flex;
    flex-direction: column;
    width: 75%;
    position: absolute;
    top: 20%;
    right:38%;
}
.inner-main-p{
    font-family: "Outfit", sans-serif;
    color: #444444;
    font-size: 1.2vw;
    margin-bottom: 6rem;
}

/* third inner-div button css starts here */
.inner-main-button{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 4vw ;
    background-color: black;
    cursor: pointer;
    border: none;
}

.button-element{
    margin: 0;
    padding: 0;
    flex: 4;
    color: white;
    font-size: 1.3vw;
}

.arrow-button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #d5966c;
}

.arrow-button object{
    width: auto; 
    height: auto;

}
/* Mid container css starts here */
.mid-container{
margin: 12rem 0 12rem 0;
padding: 0 15% 0 15%;
}

/* top-Mid container css starts here */
.top-mid{
    height: 30rem;
    display: flex;
}

.top-left-mid{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    order: 1;
}

.top-left-mid h2{
    margin: 0;
    padding: 0;
    font-size: 4vw;
    font-weight: 800;
}
.top-left-mid p{
    font-family: "Outfit", sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    color: #444444;
}

.top-right-mid{
    flex: 1.4;
    margin-left: 12rem;
    order: 2;
}

.top-right-mid img{
    height: 24vw;
}

/* bottom-Mid container css starts here */
.bottom-mid{
    height: 55rem;
    margin-top: 2rem;
    display: flex;
}

.bottom-left-mid{
    flex: 1.5;
    background-color: aqua;
    margin-right: 2rem;
}

.bottom-left-mid img{
    height: 100%;
    width: 100%;
}

/* bottom-Mid right side css starts here */

.bottom-right-mid{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.bottom-right-mid-img{
    flex: 1;
    margin-bottom: 2rem;
}

.bottom-right-mid-img img{
    width: 100%;
    height: 100%;
}

.bottom-right-mid-text{
    flex: 1;
    background-color:black;
    padding: 10%;
}
.bottom-right-mid-text h3{
    font-size: 3.6vw;
    font-weight: 800;
    color: white;
    margin-top: 0;
}

.bottom-right-mid-text p{
    color: rgb(203, 197, 197);
    font-family: "Outfit", sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
}

/* Footer css starts here */
.footer{
    height: 16rem;
    background-color: #212020;
    display: flex;
}

.inner-footer{
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-footer object{
    cursor: pointer;
}

.inner-footer:nth-child(1){
    font-size: 2vw;
}

.inner-footer:nth-child(2){
    color: rgb(203, 197, 197);
    font-family: "Outfit", sans-serif;
    font-size: 1vw;
}

/* Responsive css for mobile starts here */
@media (max-width: 480px) {
    /* main container css for mobile starts here */
    .main-container{
        flex-direction: column;
    }

    .inner-main-container:nth-child(2) {
        order: 1;
    }

    .inner-main-container:nth-child(1) {
        background-color: white;
        order: 2;
        flex: 0.5;
    }

    .inner-main-container img {
        height: 20rem;
        width: 100%;
        object-fit:cover;
    }

    .inner-main-h1 {
        color: black;
        font-size: 4rem;
        top: 0;
        left: 0;
        padding: 0 0 0 7%;
    }

    .special-char{
        visibility: hidden;
    }

    .inner-right-main{
        width: 100%;
        position: absolute;
        top: 0;
        right:0;
    }
    
    .inner-main-p{
        font-size: 21px;
        padding-left: 20px;
        margin-bottom: 2rem;
    }
    
    .inner-main-button{
        height: 17vw ;
        margin-left: 20px;
    }

    .button-element{
        font-size: 22px;
    }
    
    /* Mid container css for mobile starts here */
    .mid-container{
        margin: 0 0 4rem 0;
        padding: 0 20px 0 20px;
        /* padding: 0; */
        }

    .top-mid{
        flex-direction: column;
        margin-bottom: 7rem;
    }
    
    .top-right-mid{
        order: 1;
        margin-left: 0;
    }

    .top-right-mid img{
        height: 100%;
        width: 100%;
    }

    .top-left-mid{
        order: 2;
    }
    
    .top-left-mid h2{
        font-size: 3.5rem;
        margin-top: 20px;
    }

    .top-left-mid p{
        font-size: 21px;
    }

    /* bottom-Mid container css for mobile starts here */
    .bottom-mid{
        flex-direction: column;
        margin-bottom: 18rem ;
    }

    .bottom-left-mid{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .bottom-right-mid-img{
        margin-bottom: 15px;
    }

    .bottom-right-mid-text h3{
        font-size: 3.5rem;
    }

    .bottom-right-mid-text p{
        font-size: 21px;
    }

    /* footer container css for mobile starts here */
    .footer{
        height: 100%;
        flex-direction: column;
    }
    .inner-footer{
        align-items: center;
        justify-content: start;
        padding-left: 20px;
    }

    .inner-footer:nth-child(1){
        font-size: 2rem;
    }

    .inner-footer:nth-child(2){
        font-size: 18px;
        margin-bottom: 20px;
    }

}